beautifulsoup4
requests
pandas
redis
celery
pytest
pytest-django
pytest-cov
pre-commit
flake8==7.1.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
alabaster==1.0.0
amqp==5.2.0
annotated-types==0.7.0
asgiref==3.8.1
backoff==2.2.1
billiard==4.2.1
black==24.10.0
branca==0.8.0
cachetools==5.5.0
celery==5.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
Django==5.1.1
docstring_parser==0.16
folium==0.18.0
frozenlist==1.5.0
furo==2024.8.6
gcloud==0.18.3
geographiclib==2.0
geopy==2.4.1
google-ai-generativelanguage==0.6.10
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.70.0
google-cloud-bigquery==3.26.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.13.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-generativeai==0.8.3
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
grpc-google-iam-v1==0.13.1
grpcio==1.67.0
grpcio-status==1.67.0
httplib2==0.22.0
imagesize==1.4.1
imaplib2==3.6
kombu==5.4.2
multidict==6.1.0
numpy==2.1.2
oauth2client==4.1.3
opencage==3.0.2
pandas==2.2.3
pathspec==0.12.1
propcache==0.2.0
proto-plus==1.25.0
protobuf==5.28.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.9.2
pydantic_core==2.23.4
pyparsing==3.2.0
python-dotenv==1.0.1
pytz==2024.2
redis==5.2.0
rsa==4.9
shapely==2.0.6
Sphinx==8.1.3
sphinx-basic-ng==1.0.0b2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.1
tqdm==4.66.5
tzdata==2024.2
uritemplate==4.1.1
vertexai==1.70.0
vine==5.1.0
xyzservices==2024.9.0
yarl==1.17.1