<!-- pages/templates/pages/home.html -->

<h1>Events</h1>

{% if events %}
    <ul>
    {% for event in events %}
        <li>
            <h2>{{ event.title }}</h2>
            <p><strong>Pub Date:</strong> {{ event.pub_date }}</p>
            <p><strong>Description:</strong> {{ event.event_description }}</p>
            <p><strong>Location:</strong> {{ event.location }}</p>
            <p><a href="{{ event.link }}">More info</a></p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No events found.</p>
{% endif %}

{% comment %} <!-- Buttons to trigger management commands -->
<form method="post" action="{% url 'run_db_saver' %}">
    {% csrf_token %}
    <button type="submit">Run db_saver</button>
</form>

<form method="post" action="{% url 'run_events_list_creator' %}">
    {% csrf_token %}
    <button type="submit">Run events_list_creator</button>
</form>

<form method="post" action="{% url 'run_json_saver' %}">
    {% csrf_token %}
    <button type="submit">Run json_saver</button>
</form>

<form method="post" action="{% url 'run_rss_fetcher' %}">
    {% csrf_token %}
    <button type="submit">Run rss_fetcher</button>
</form> {% endcomment %}